.no-print {
	display: none;
	}
	
div.page {
	width: 90%;
	padding: 5% 5% 0 5%;
	}
	
article.post p {
	font-size: 1.25em;
}

article.post p.caption {
	font-size: .5em;
	background-color: #EEE;
	}
	
article.post p.photo-credit {
	font-size: .5em;
	}